


nav{
    text-align: center;
    width: 461.30px;
    margin: 0%;
    padding: 6px;
    border-radius: 5px;
    background-color: rgb(96, 155, 165);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
nav button{
    margin: -2px;
    margin-right: 2px;
    color: rgb(255, 238, 238);
    border-color: rgb(0, 0, 0);
    background-color: rgb(88, 181, 194);
    padding: 15px;
}